@import "../css/variables";

.header {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid whitesmoke;
  padding: $gap;


  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.logo {
  width: 290px;
  height: 60px;
}

.tool {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: $gap;
  }

  @media (max-width: 600px) {
    margin-top: $gap;
  }
}
